.A{
    display: flex;
    flex-direction: row;
}
.G{
    padding-top: 50px;
    padding-left: 80px;
}
.B{
    align-items: end;

    
}
.H{
    padding-left: 200px;
    padding-top: 50px;
    
}