.box2{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    justify-items: center;
}
.box3{
    display: flex;
    flex-direction: column;
}
.A{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
